div.channelSearch {
  margin-top: 5px;
  padding-right: 15px;
  input {
    box-sizing: border-box;
    border-style: none;
    width: 100%;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    outline-style: none;
  }

  ul {
    &.hide {
      display: none;
    }
  }
}
