@import "../base/constants.scss";

.channelListContainer {
  h3,
  h4 {
    font-family: "Helvetica Neue Medium";
    color: $brand-light-white;
    padding-left: 10px;
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
  }
  ul {
    list-style-type: none;
    padding-left: 0%;
    padding-right: 5px;
    border-bottom: 1px;

    li {
      border-bottom: 1px;
      border-radius: 5px;
      display: flex;
      overflow: hidden;

      button.channelListButton {
        overflow: hidden;
        width: 100%;
      }
      button.removeChannel {
        flex: 1;
        display: none;
        padding-top: 0px;
        padding-bottom: 0px;
        &.clicked {
          background-color: red;
          padding-left: 10px;
        }
      }
      button {
        background-color: transparent;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        text-align: left;
        font-family: "Helvetica Neue Medium";
        color: $brand-light-white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        font-size: 14px;
      }

      &.current {
        background-color: $brand-light-grey;
        transition: background-color 0.2s linear;
      }

      &:hover {
        background-color: $brand-med-grey;
        button.removeChannel {
          display: block;
        }
      }
    }
  }
}
