@import "../base/constants.scss";

.channelListContainer {
  h3,
  h4 {
    font-family: "Helvetica Neue Medium";
    color: $brand-light-white;
    padding-left: 10px;
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
  }
  ul {
    list-style-type: none;
    padding-left: 0%;
    padding-right: 5px;
    border-bottom: 1px;

    li {
      border-bottom: 1px;
      button {
        background-color: transparent;
        width: 100%;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        text-align: left;
        font-family: "Helvetica Neue Medium";
        color: $brand-light-white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        font-size: 14px;
        border-radius: 5px;
        &:hover {
          background-color: $brand-med-grey;
        }
      }
    }

    li.current {
      button {
        background-color: $brand-light-grey;
        transition: background-color 0.2s linear;
      }
    }
  }
}
