@import "../base/constants.scss";

.channelListContainer {
  h3 {
    margin-bottom: 0px;
    font-family: "Helvetica Neue Medium";
    color: $brand-light-white;
  }
  ul {
    list-style-type: none;
    padding-left: 0%;
    padding-right: 5px;

    li {
      border-bottom: 1px;
      button {
        background-color: transparent;
        width: 100%;
        text-overflow: ellipsis;
        border: none;
        text-align: left;
        font-family: "Helvetica Neue Medium";
        color: $brand-light-white;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 14px;
      }
    }

    li.current {
      background-color: $brand-light-grey;
    }
  }
}
