@import "../base/constants.scss";
.videoSelectButton {
  -webkit-appearance: none;
  border: none;
  background-color: $brand-med-grey;
  outline: none;

  &[role="previous"] {
    order: 1;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px;
    border-right-style: solid;
  }
  &[role="next"] {
    border-radius: 0px 5px 5px 0px;
    border-left: 1px;
    border-left-style: solid;
  }
}
