@import "./components/index";
@import "./layout.scss";
@import "./base/index";

html,
body {
  font-family: "Helvetica Neue Light";
  background-color: $brand-dark-black;
}

button {
  font-family: "Helvetica Neue Medium";
}

h3 {
  color: $brand-light-white;
}
