.channelListContainer {
  padding-top: 100px;

  h3 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  ul {
    list-style-type: none;
    padding-left: 0%;
    padding-right: 5px;

    li {
      border-bottom: 1px;
      button {
        background-color: transparent;
        width: 100%;
        border: none;
        text-align: left;
      }
    }

    li.current {
      background-color: grey;
    }
  }
}
