// https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

$brand-dark-black: #1c1c1c;
$brand-med-grey: #4a4a4a;
$brand-light-grey: #6e6e6e;
$brand-dark-white: #d1d1d1;
$brand-light-white: #e8e8e8;
