@font-face {
  font-family: "Helvetica Neue Light";
  src: url("./assets/fonts/HelveticaNeueLight.ttf");
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("./assets/fonts/HelveticaNeueMedium.ttf");
}

@font-face {
  font-family: "Helvetica Neue Heavy";
  src: url("./assets/fonts/HelveticaNeueHV.ttf");
}
